.tabs .tab {
    cursor: pointer;
    font-size: 18px;
    padding: 10px 0px;
    font-weight: 700;
    margin-right: 30px;
}

.tabs .tab.active {
    padding-right: 0;
    border-bottom: 3px solid #66615b;
}