.card .card-description {
  font-weight: 500;
}
.icon-section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.icomoon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-danger {
  color: #fc7e01;
}
.icon-section .info .description p {
  font-weight: 500;
}
.icon-section .info .icon {
  height: auto;
  width: auto;
}
.contact {
  color: #fff;
  word-break: break-all;
}
.bottom-links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-self: flex-end;
  position: absolute;
  bottom: 0;
  z-index: 99;
  padding-left: 0px;
}
.bottom-links h3 {
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  video {
    width: auto;
  }
}
.light-paper {
  height: 800px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.blur {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.light-paper .title {
  font-size: 40px;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 3px;
}
.read-more, .read-more:hover {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 3px;
}