.text-danger,
.text-danger:hover {
  color: red !important;
}

.full-screen.register-page
  .card-register
  .register-form
  .has-error
  .form-control,
.full-screen.login-page .card-register .register-form .has-error .form-control {
  border-color: red !important;
}

.register-page .text-danger {
  margin-bottom: 10px;
}

.register-page .has-error .form-control {
  margin-bottom: 0px !important;
}

.login-page .card-register .card-title {
    color: #fff;
}